# Loading & Processing data

## Load libs

In [8]:
import pandas as pd
import numpy as np

## Load data

In [9]:
anage_df = pd.read_csv('./data/anage_data.txt', sep='\t')

In [10]:
anage_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4645 entries, 0 to 4644
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   HAGRID                            4645 non-null   int64
 1   Kingdom                           4645 non-null   object
 2   Phylum                            4645 non-null   object
 3   Class                             4645 non-null   object
 4   Order                             4645 non-null   object
 5   Family                            4645 non-null   object
 6   Genus                             4645 non-null   object
 7   Species                           4645 non-null   object
 8   Common name                       4645 non-null   object
 9   Female maturity (days)            2485 non-null   float64
 10  Male maturity (days)              1905 non-null   float64
 11  Gestation/Incubation (days)       1835 non-null   float64
 12  Weaning (days)                    768 non-null    float64
 13  Litter/Clutch size                2093 non-null   float64
 14  Litters/Clutches per year         1304 non-null   float64
 15  Inter-litter/Interbirth interval  765 non-null    float64
 16  Birth weight (g)                  1230 non-null   float64
 17  Weaning weight (g)                384 non-null    float64
 18  Adult weight (g)                  3663 non-null   float64
 19  Growth rate (1/days)              559 non-null    float64
 20  Maximum longevity (yrs)           4141 non-null   float64
 21  Source                            4071 non-null   object
 22  Specimen origin                   4645 non-null   object
 23  Sample size                       4645 non-null   object
 24  Data quality                      4645 non-null   object
 25  IMR (per yr)                      43 non-null     float64
 26  MRDT (yrs)                        43 non-null     float64
 27  Metabolic rate (W)                627 non-null    float64
 28  Body mass (g)                     627 non-null    float64
 29  Temperature (K)                   494 non-null    float64
 30  References                        4644 non-null   object
dtypes: float64(17), int64(1), object(13)
memory usage: 1.1+ MB

In [11]:
anage_df.head()

,HAGRID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Common name,Female maturity (days),...,Source,Specimen origin,Sample size,Data quality,IMR (per yr),MRDT (yrs),Metabolic rate (W),Body mass (g),Temperature (K),References
0,3,Animalia,Annelida,Polychaeta,Sabellida,Siboglinidae,Escarpia,laminata,Escarpia laminata,NaN,...,1466,wild,medium,acceptable,NaN,NaN,NaN,NaN,NaN,1466
1,5,Animalia,Annelida,Polychaeta,Sabellida,Siboglinidae,Lamellibrachia,luymesi,Lamellibrachia luymesi,NaN,...,652,wild,small,acceptable,NaN,NaN,NaN,NaN,NaN,652
2,6,Animalia,Annelida,Polychaeta,Sabellida,Siboglinidae,Seepiophila,jonesi,Seepiophila jonesi,NaN,...,1467,wild,small,acceptable,NaN,NaN,NaN,NaN,NaN,1467
3,8,Animalia,Arthropoda,Arachnida,Araneae,Theridiidae,Latrodectus,hasselti,Australian redback spider,NaN,...,NaN,unknown,medium,low,NaN,NaN,NaN,NaN,NaN,1455
4,9,Animalia,Arthropoda,Branchiopoda,Diplostraca,Daphniidae,Daphnia,pulicaria,Daphnia,NaN,...,NaN,unknown,medium,acceptable,NaN,NaN,NaN,NaN,NaN,"1294,1295,1296"

In [12]:
anage_df.describe()

,HAGRID,Female maturity (days),Male maturity (days),Gestation/Incubation (days),Weaning (days),Litter/Clutch size,Litters/Clutches per year,Inter-litter/Interbirth interval,Birth weight (g),Weaning weight (g),Adult weight (g),Growth rate (1/days),Maximum longevity (yrs),IMR (per yr),MRDT (yrs),Metabolic rate (W),Body mass (g),Temperature (K)
count,4645.000000,2485.000000,1905.000000,1835.000000,768.000000,2.093000e+03,1304.000000,765.000000,1.230000e+03,3.840000e+02,3.663000e+03,559.000000,4141.000000,43.000000,43.000000,627.000000,6.270000e+02,494.000000
mean,2336.170291,1029.443058,940.518635,88.743869,140.052083,1.449034e+05,1.461403,387.202614,1.145008e+04,5.725503e+04,1.763312e+05,0.151687,25.523774,0.182660,236.627442,11.830891,1.318790e+04,308.592247
std,1346.328818,1656.834711,1020.610062,196.460204,162.223798,6.557596e+06,1.019076,318.639655,1.071970e+05,8.690862e+05,3.294818e+06,0.170657,251.237021,0.330433,424.672854,97.508141,1.507410e+05,4.880814
min,1.000000,3.000000,3.000000,1.000000,7.000000,1.000000e+00,0.100000,20.000000,4.000000e-03,2.065000e+00,5.000000e-01,0.000300,0.010000,0.000200,0.040000,0.000099,7.600000e-01,278.500000
25%,1169.000000,365.000000,365.000000,21.000000,35.000000,1.000000e+00,1.000000,189.000000,3.242500e+00,2.160000e+01,4.750000e+01,0.021400,8.800000,0.018500,1.800000,0.265500,2.590000e+01,308.250000
50%,2338.000000,578.000000,639.000000,36.000000,76.000000,3.000000e+00,1.000000,365.000000,2.465000e+01,1.775000e+02,4.565000e+02,0.081000,15.000000,0.060000,6.000000,0.705000,1.313000e+02,309.650000
75%,3502.000000,1186.000000,1095.000000,126.000000,182.000000,5.000000e+00,2.000000,376.000000,2.500000e+02,2.000000e+03,3.500000e+03,0.219500,24.000000,0.250000,23.500000,3.137000,1.111150e+03,311.050000
max,4671.000000,56940.000000,9855.000000,7397.000000,1111.000000,3.000000e+08,10.000000,4562.000000,2.000000e+06,1.700000e+07,1.360000e+08,0.680000,15000.000000,2.000000,999.000000,2336.500000,3.672000e+06,314.150000

# Explore different datasets

In [15]:
anage_df.columns

Index(['HAGRID', 'Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus',
       'Species', 'Common name', 'Female maturity (days)',
       'Male maturity (days)', 'Gestation/Incubation (days)', 'Weaning (days)',
       'Litter/Clutch size', 'Litters/Clutches per year',
       'Inter-litter/Interbirth interval', 'Birth weight (g)',
       'Weaning weight (g)', 'Adult weight (g)', 'Growth rate (1/days)',
       'Maximum longevity (yrs)', 'Source', 'Specimen origin', 'Sample size',
       'Data quality', 'IMR (per yr)', 'MRDT (yrs)', 'Metabolic rate (W)',
       'Body mass (g)', 'Temperature (K)', 'References'],
      dtype='object')

In [17]:
anage_df['Class'].unique()

array(['Polychaeta', 'Arachnida', 'Branchiopoda', 'Insecta',
       'Malacostraca', 'Actinopterygii', 'Amphibia', 'Ascidiacea', 'Aves',
       'Cephalaspidomorphi', 'Chondrichthyes', 'Chondrostei', 'Cladistei',
       'Coelacanthi', 'Dipnoi', 'Holostei', 'Mammalia', 'Reptilia',
       'Teleostei', 'Anthozoa', 'Hydrozoa', 'Echinoidea', 'Bivalvia',
       'Cephalopoda', 'Gastropoda', 'Chromadorea', 'Rhabditophora',
       'Trepaxonemata', 'Demospongiae', 'Hexactinellida',
       'Gammaproteobacteria', 'Pinopsida', 'Magnoliopsida',
       'Ginkgoopsida', 'Saccharomycetes', 'Schizosaccharomycetes',
       'Sordariomycetes'], dtype=object)

## Class Mammalia

In [18]:
mammalia_df = anage_df[anage_df['Class'] == 'Mammalia']
print(mammalia_df)

      HAGRID   Kingdom    Phylum     Class          Order           Family  \
1874    1888  Animalia  Chordata  Mammalia   Afrosoricida       Tenrecidae
1875    1889  Animalia  Chordata  Mammalia   Afrosoricida       Tenrecidae
1876    1890  Animalia  Chordata  Mammalia   Afrosoricida       Tenrecidae
1877    1891  Animalia  Chordata  Mammalia   Afrosoricida       Tenrecidae
1878    1892  Animalia  Chordata  Mammalia   Afrosoricida       Tenrecidae
...      ...       ...       ...       ...            ...              ...
3218    3238  Animalia  Chordata  Mammalia   Soricomorpha         Talpidae
3219    3239  Animalia  Chordata  Mammalia   Soricomorpha         Talpidae
3220    3240  Animalia  Chordata  Mammalia   Soricomorpha         Talpidae
3221    3241  Animalia  Chordata  Mammalia   Soricomorpha         Talpidae
3222    3242  Animalia  Chordata  Mammalia  Tubulidentata  Orycteropodidae

             Genus       Species             Common name  \
1874      Echinops      telfairi  Lesser hedgehog tenrec
1875       Geogale        aurita      Large-eared tenrec
1876  Hemicentetes  semispinosus         Streaked tenrec
1877     Microgale       dobsoni   Dobson's shrew tenrec
1878     Microgale      talazaci  Talazac's shrew tenrec
...            ...           ...                     ...
3218        Mogera        wogura           Japanese mole
3219   Parascalops       breweri       Hairy-tailed mole
3220      Scalopus     aquaticus            Eastern mole
3221         Talpa      europaea           European mole
3222   Orycteropus          afer                Aardvark

      Female maturity (days)  ...  Source  Specimen origin  Sample size  \
1874                   365.0  ...     671        captivity       medium
1875                     NaN  ...     NaN          unknown        small
1876                    35.0  ...     671        captivity        small
1877                   669.0  ...     434        captivity        small
1878                   639.0  ...     434        captivity        small
...                      ...  ...     ...              ...          ...
3218                     NaN  ...     671        captivity        small
3219                   300.0  ...     NaN          unknown        small
3220                   335.0  ...    1405             wild       medium
3221                   182.0  ...     NaN          unknown        small
3222                   730.0  ...     671        captivity       medium

      Data quality  IMR (per yr)  MRDT (yrs)  Metabolic rate (W)  \
1874    acceptable           NaN         NaN               0.750
1875           low           NaN         NaN               0.043
1876  questionable           NaN         NaN               0.380
1877    acceptable           NaN         NaN               0.315
1878    acceptable           NaN         NaN               0.243
...            ...           ...         ...                 ...
3218    acceptable           NaN         NaN                 NaN
3219           low           NaN         NaN                 NaN
3220    acceptable           NaN         NaN               0.378
3221           low           NaN         NaN                 NaN
3222    acceptable           NaN         NaN              34.275

      Body mass (g)  Temperature (K)  \
1874          116.4           307.85
1875            6.9           303.95
1876          116.4           308.15
1877           44.6           304.05
1878           44.0           303.95
...             ...              ...
3218            NaN              NaN
3219            NaN              NaN
3220           48.0           309.15
3221            NaN              NaN
3222        48000.0           307.65

                                            References
1874  36,148,434,455,542,610,671,678,680,731,1030,1103
1875                                36,420,434,613,678
1876            36,420,434,436,455,542,610,671,678,680
1877                        36,420,434,455,610,678,731
1878                                36,420,434,455,731
...                                                ...
3218                                           671,978
3219                       434,441,455,538,542,610,678
3220           36,420,434,441,455,538,542,610,678,1405
3221                               434,455,542,678,680
3222                        36,420,434,455,610,671,731

[1349 rows x 31 columns]

## Order Cetacea

In [19]:
cetacea_df = anage_df[anage_df['Order'] == 'Cetacea']
print(cetacea_df)

      HAGRID   Kingdom    Phylum     Class    Order           Family  \
2259    2275  Animalia  Chordata  Mammalia  Cetacea       Balaenidae
2260    2276  Animalia  Chordata  Mammalia  Cetacea       Balaenidae
2261    2277  Animalia  Chordata  Mammalia  Cetacea       Balaenidae
2262    2278  Animalia  Chordata  Mammalia  Cetacea  Balaenopteridae
2263    2279  Animalia  Chordata  Mammalia  Cetacea  Balaenopteridae
2264    2280  Animalia  Chordata  Mammalia  Cetacea  Balaenopteridae
2265    2281  Animalia  Chordata  Mammalia  Cetacea  Balaenopteridae
2266    2282  Animalia  Chordata  Mammalia  Cetacea  Balaenopteridae
2267    2283  Animalia  Chordata  Mammalia  Cetacea  Balaenopteridae
2268    2285  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2269    2286  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2270    2287  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2271    2288  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2272    2289  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2273    2290  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2274    2291  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2275    2292  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2276    2293  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2277    2294  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2278    2295  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2279    2296  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2280    2297  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2281    2298  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2282    2299  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2283    2300  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2284    2301  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2285    2302  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2286    2303  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2287    2304  Animalia  Chordata  Mammalia  Cetacea      Delphinidae
2288    2305  Animalia  Chordata  Mammalia  Cetacea   Eschrichtiidae
2289    2306  Animalia  Chordata  Mammalia  Cetacea  Hyperoodontidae
2290    2307  Animalia  Chordata  Mammalia  Cetacea  Hyperoodontidae
2291    2308  Animalia  Chordata  Mammalia  Cetacea  Hyperoodontidae
2292    2309  Animalia  Chordata  Mammalia  Cetacea  Hyperoodontidae
2293    2310  Animalia  Chordata  Mammalia  Cetacea  Hyperoodontidae
2294    2311  Animalia  Chordata  Mammalia  Cetacea          Iniidae
2295    2312  Animalia  Chordata  Mammalia  Cetacea         Kogiidae
2296    2313  Animalia  Chordata  Mammalia  Cetacea        Lipotidae
2297    2314  Animalia  Chordata  Mammalia  Cetacea     Monodontidae
2298    2315  Animalia  Chordata  Mammalia  Cetacea     Monodontidae
2299    2316  Animalia  Chordata  Mammalia  Cetacea      Phocoenidae
2300    2317  Animalia  Chordata  Mammalia  Cetacea      Phocoenidae
2301    2318  Animalia  Chordata  Mammalia  Cetacea      Phocoenidae
2302    2319  Animalia  Chordata  Mammalia  Cetacea     Physeteridae
2303    2320  Animalia  Chordata  Mammalia  Cetacea    Platanistidae
2304    2321  Animalia  Chordata  Mammalia  Cetacea    Pontoporiidae

                Genus        Species                              Common name  \
2259          Balaena     mysticetus                            Bowhead whale
2260        Eubalaena      australis                     Southern right whale
2261        Eubalaena      glacialis               North atlantic right whale
2262     Balaenoptera  acutorostrata                       Common minke whale
2263     Balaenoptera       borealis                                Sei whale
2264     Balaenoptera          edeni                            Bryde's whale
2265     Balaenoptera       musculus                               Blue whale
2266     Balaenoptera       physalus                                Fin whale
2267        Megaptera   novaeangliae                           Humpback whale
2268  Cephalorhynchus    commersonii                      Commerson's dolphin
2269  Cephalorhynchus        hectori                         Hector's dolphin
2270        Delphinus        delphis          Short-beaked saddleback dolphin
2271     Globicephala  macrorhynchus                 Short-finned pilot whale
2272     Globicephala          melas                  Long-finned pilot whale
2273          Grampus        griseus                          Risso's dolphin
2274    Lagenodelphis          hosei                         Fraser's dolphin
2275   Lagenorhynchus         acutus             Atlantic white-sided dolphin
2276   Lagenorhynchus    obliquidens              Pacific white-sided dolphin
2277         Orcaella   brevirostris                        Irrawaddy dolphin
2278          Orcinus           orca                             Killer whale
2279    Peponocephala        electra                       Melon-headed whale
2280        Pseudorca     crassidens                       False killer whale
2281          Sotalia    fluviatilis                 Tucuxi, or River dolphin
2282            Sousa      chinensis          Indo-Pacific humpbacked dolphin
2283         Stenella      attenuata              Pantropical spotted dolphin
2284         Stenella   coeruleoalba                          Striped dolphin
2285            Steno    bredanensis                    Rough-toothed dolphin
2286         Tursiops        aduncus          Indo-pacific bottlenose dolphin
2287         Tursiops      truncatus                      Bottlenosed dolphin
2288     Eschrichtius       robustus                               Gray whale
2289        Berardius        bairdii                     Baird's beaked whale
2290       Hyperoodon     ampullatus                Northern bottlenose whale
2291       Mesoplodon   densirostris                Blainville's beaked whale
2292       Mesoplodon      europaeus                   Gervais's beaked whale
2293          Ziphius    cavirostris                    Cuvier's beaked whale
2294             Inia    geoffrensis  Amazon river dolphin, or Amazon dolphin
2295            Kogia      breviceps                        Pygmy sperm whale
2296          Lipotes     vexillifer          Yangzte river dolphin, or Baiji
2297   Delphinapterus         leucas                                   Beluga
2298          Monodon      monoceros                                  Narwhal
2299      Neophocaena   phocaenoides                         Finless porpoise
2300         Phocoena       phocoena                          Harbor porpoise
2301     Phocoenoides          dalli                          Dall's porpoise
2302         Physeter  macrocephalus                              Sperm whale
2303       Platanista      gangetica                           Ganges dolphin
2304       Pontoporia    blainvillei                              Franciscana

      Female maturity (days)  ...  Source  Specimen origin  Sample size  \
2259                  8212.0  ...      21             wild       medium
2260                  3285.0  ...     434             wild       medium
2261                  2920.0  ...     642             wild       medium
2262                  2740.0  ...     542             wild       medium
2263                  3652.0  ...       1             wild       medium
2264                  3104.0  ...       1             wild       medium
2265                  1827.0  ...       1             wild       medium
2266                  2701.0  ...     434             wild       medium
2267                  1643.0  ...     573             wild       medium
2268                  2008.0  ...     NaN          unknown        small
2269                  2829.0  ...     NaN          unknown        small
2270                  1754.0  ...    1403             wild       medium
2271                  3470.0  ...       1             wild       medium
2272                  2470.0  ...     671        captivity         tiny
2273                  3652.0  ...     671        captivity         tiny
2274                  2646.0  ...     NaN          unknown        small
2275                  2231.0  ...       1             wild       medium
2276                  3832.0  ...     671        captivity        small
2277                  1826.0  ...     624             wild       medium
2278                  3780.0  ...     784             wild       medium
2279                  4290.0  ...       1             wild       medium
2280                  3468.0  ...     671        captivity        small
2281                  2192.0  ...     NaN          unknown        small
2282                  3470.0  ...     NaN          unknown        small
2283                  2983.0  ...       1             wild       medium
2284                  2834.0  ...     500             wild       medium
2285                  3650.0  ...       1             wild       medium
2286                     NaN  ...     NaN          unknown       medium
2287                  2831.0  ...     671        captivity       medium
2288                  2922.0  ...     573             wild       medium
2289                  4383.0  ...     NaN             wild       medium
2290                  3652.0  ...       1             wild       medium
2291                  3287.0  ...     NaN          unknown        small
2292                     NaN  ...     443             wild       medium
2293                     NaN  ...     443             wild       medium
2294                  1826.0  ...     671        captivity         tiny
2295                     NaN  ...     573             wild       medium
2296                  2920.0  ...     671        captivity        small
2297                  1644.0  ...     671        captivity       medium
2298                  2191.0  ...     561             wild       medium
2299                  2190.0  ...     671        captivity        small
2300                  1055.0  ...     671        captivity        small
2301                  1826.0  ...       1             wild       medium
2302                  2922.0  ...       1             wild       medium
2303                  3652.0  ...     NaN          unknown        small
2304                   912.0  ...     NaN          unknown        small

      Data quality  IMR (per yr)  MRDT (yrs)  Metabolic rate (W)  \
2259    acceptable           NaN         NaN                 NaN
2260    acceptable           NaN         NaN                 NaN
2261    acceptable           NaN         NaN                 NaN
2262    acceptable           NaN         NaN                 NaN
2263    acceptable           NaN         NaN                 NaN
2264    acceptable           NaN         NaN                 NaN
2265    acceptable           NaN         NaN                 NaN
2266    acceptable           NaN         NaN                 NaN
2267    acceptable           NaN         NaN                 NaN
2268           low           NaN         NaN                 NaN
2269           low           NaN         NaN                 NaN
2270    acceptable           NaN         NaN                 NaN
2271    acceptable         0.017        20.0                 NaN
2272    acceptable         0.015        10.0                 NaN
2273    acceptable           NaN         NaN                 NaN
2274           low           NaN         NaN                 NaN
2275    acceptable           NaN         NaN                 NaN
2276    acceptable           NaN         NaN                 NaN
2277    acceptable           NaN         NaN                 NaN
2278    acceptable           NaN        14.0                 NaN
2279    acceptable           NaN         NaN                 NaN
2280    acceptable           NaN         NaN                 NaN
2281           low           NaN         NaN                 NaN
2282           low           NaN         NaN                 NaN
2283    acceptable           NaN         NaN                 NaN
2284    acceptable           NaN         NaN                 NaN
2285    acceptable           NaN         NaN                 NaN
2286           low           NaN         NaN                 NaN
2287    acceptable           NaN         NaN                 NaN
2288    acceptable           NaN         NaN                 NaN
2289    acceptable           NaN         NaN                 NaN
2290    acceptable           NaN         NaN                 NaN
2291           low           NaN         NaN                 NaN
2292    acceptable           NaN         NaN                 NaN
2293    acceptable           NaN         NaN                 NaN
2294    acceptable           NaN         NaN                 NaN
2295    acceptable           NaN         NaN                 NaN
2296  questionable           NaN         NaN                 NaN
2297    acceptable           NaN         NaN                 NaN
2298    acceptable           NaN         NaN                 NaN
2299    acceptable           NaN         NaN                 NaN
2300    acceptable           NaN         NaN             107.675
2301    acceptable           NaN         NaN                 NaN
2302    acceptable           NaN         NaN                 NaN
2303           low           NaN         NaN                 NaN
2304           low           NaN         NaN                 NaN

      Body mass (g)  Temperature (K)  \
2259            NaN              NaN
2260            NaN              NaN
2261            NaN              NaN
2262            NaN              NaN
2263            NaN              NaN
2264            NaN              NaN
2265            NaN              NaN
2266            NaN              NaN
2267            NaN           309.15
2268            NaN              NaN
2269            NaN              NaN
2270            NaN              NaN
2271            NaN              NaN
2272            NaN              NaN
2273            NaN              NaN
2274            NaN              NaN
2275            NaN              NaN
2276            NaN              NaN
2277            NaN              NaN
2278            NaN           309.15
2279            NaN              NaN
2280            NaN           309.75
2281            NaN              NaN
2282            NaN              NaN
2283            NaN              NaN
2284            NaN              NaN
2285            NaN              NaN
2286            NaN              NaN
2287            NaN              NaN
2288            NaN              NaN
2289            NaN              NaN
2290            NaN              NaN
2291            NaN              NaN
2292            NaN              NaN
2293            NaN              NaN
2294            NaN              NaN
2295            NaN              NaN
2296            NaN              NaN
2297            NaN           308.95
2298            NaN              NaN
2299            NaN              NaN
2300        28500.0              NaN
2301            NaN              NaN
2302            NaN              NaN
2303            NaN              NaN
2304            NaN              NaN

                                             References
2259  21,49,434,447,455,538,610,680,890,978,1136,130...
2260                                    434,447,455,978
2261                            434,443,455,538,642,817
2262                    434,447,455,538,542,610,680,978
2263                          1,434,447,455,538,610,680
2264                              1,434,443,455,610,680
2265                          1,434,441,455,538,610,680
2266                                434,455,538,610,680
2267             434,455,538,573,610,680,1044,1175,1315
2268                                    434,443,455,671
2269                                   434,443,455,1308
2270                       434,443,455,610,671,680,1403
2271        1,434,443,446,455,538,610,784,963,1143,1370
2272               434,443,455,538,610,671,680,784,1143
2273                                   434,455,671,1308
2274                                434,455,538,610,615
2275                                  1,434,455,538,680
2276                                    434,455,538,671
2277                                    434,443,455,624
2278  434,443,455,538,573,610,671,784,914,963,1065,1...
2279                                          1,434,455
2280                       434,443,455,538,671,680,1062
2281                                   434,455,671,1308
2282                          455,671,730,978,1237,1308
2283                              1,434,455,538,610,680
2284                       325,434,455,500,610,680,1391
2285                                         1,434,1308
2286                                           978,1465
2287         434,455,538,610,671,680,948,1136,1243,1356
2288                                   434,455,573,1136
2289                                434,443,538,680,978
2290                                          1,434,455
2291                                       434,441,1308
2292                                            443,730
2293                                        434,443,455
2294                             1,434,443,455,671,1308
2295                                        434,455,573
2296                                434,443,455,671,978
2297                  434,455,538,573,671,680,1065,1370
2298                               434,455,538,561,1370
2299                        434,443,455,562,671,680,978
2300                       339,433,434,455,671,731,1143
2301                          1,434,455,538,561,610,680
2302              1,434,447,455,538,610,680,817,963,978
2303                                434,443,542,610,680
2304                                        434,443,455

[46 rows x 31 columns]